# Ignore directories
/build/
/dist/
/__pycache__/
venv/
ENV/
env/
venv.bak/
env.bak/
spyderproject/
.ropeproject/

# Ignore files
*.egg-info/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Ignore environment files
.env
.env.local
.env.d/
.env.*.local
.spyderproject
.spyproject
